.main{
position: absolute;
top: 150px;
left: 0px;
width: 1367px;
height: 860px;
background: #EFF3F6 0% 0% no-repeat padding-box;
opacity: 1;
padding: 10px;
overflow-y: scroll;
overflow-x: scroll;
}
.submain{
top: 1000px;
left: 15px;
width: 1336px;
height: 519px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #8D8D8D29;
opacity: 1;
padding:7px;
}
table.table1 {
  top: 152px;
left: 15px;
width: 1336px;
height: 156px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #8D8D8D29;
opacity: 1;
border-collapse: separate;
border-spacing: 0em;
border-spacing: 0;
padding:7px;
}
.submainForm{
top: 165px;
left: 15px;
width: 1336px;
height: 519px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #8D8D8D29;
opacity: 1;
padding:7px;
position:absolute;
}
#noOfUsers{
top: 163px;
left: 70px;
width: 84px;
height: 20px;
text-align: left;
letter-spacing: 0;
color: #000000;
opacity: 1;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
border: 0px solid black;
}

#count1{
top: 213px;

width: 46px;

text-align: center;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
letter-spacing: 0;
color: #13A8E0;
opacity: 1;
border: 1px solid black;
padding:0px; 
border-width:0px; 
margin:0px; 
bottom: 0;
border: 0px solid black;
vertical-align:bottom;
}
#count2{
top: 246px;

width: 30px;

text-align: center;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 13px;
letter-spacing: 0;
color: #000000;
opacity: 0.75;
border: 1px solid black;
padding:0px; 
border-width:0px; 
margin:0px; 
border: 0px solid black;
vertical-align:top;
}

#input {
	top: 382px;
	left: 31px;
	width: 464px;
	height: 42px;
	background: #F5F5F5 0% 0% no-repeat padding-box;
	border: 1px solid #EFEFEF;
	border-radius: 26px;
	opacity: 1;
}

.Column-VerticalLine {
	border-right: thin solid #A9A9A9;
}
	
