#mainMenuHome
{	
top: 0px;
left: 0px;
width: 100%;
height: 102px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 0px ;
opacity: 1;
}

#topnav 
{
 float: left;
 width: 1179px;
 height: 24px;
 background: #ffffff;
 margin-top: 3px;
 position: relative;
 font-size: 12px;
display: inline-block;  
margin:10px;
   left: 0px;
}
#topnav ul
{
 list-style: none;
 padding: 0;
 margin: 0;
 
}
#topnav ul li 
{
 float: left;
 margin: 0;
 padding: 0;
  border-right-width: 1px; 
 border-right-style: solid;
 border-right-color: #00BFFF;
}
#topnav ul li a
{
 padding: 5px 15px;
 color: #00537F;
 text-decoration: none;
 display: block;
 font-weight: bold;
}
#topnav ul li a:link
{
 color: #000000;
 text-decoration: none;
}
#topnav ul li a:visited
{
 color: #000000;
 text-decoration: none;
}
#topnav ul li a:hover
{
 color: #000000;
 text-decoration: underline;
 text-decoration-color:#00BFFF;
  font-weight: 900;
  background: #00BFFF;
}
#topnav ul li a.active
{
 text-decoration: underline;
 color: #000000;
 text-decoration-color:#00BFFF;
  font-weight: 900;
  background: #00BFFF;
}
/* #topnav ul li ul.submenu
{
 float: left;
 padding: 4px 10px;
 position: absolute;
 left: 0px;
 top: 40px;
 display: none;
 color: #00537F;
 width: 1579px;
} */
#topnav ul li ul.submenu
{
 float: left;
 padding: 4px 10px;
 position: absolute;
 left: 0px;
 top: 40px;
 display: none;
 color: #00537F;
 width: 1579px;
}
#topnav ul li ul.submenu a
{
 display: inline;
 color: #00537F;
 padding: 4px 8px;
}
#topnav ul li ul.submenu li
{
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
 margin: 0 -2px;
 padding: 4px;
 background: #ffffff;
}
#topnav ul li ul.submenu li:last-child
{
 border-right-style: none;
}
#topnav ul li ul.submenu a:link
{
 color: #000000;
}
#topnav ul li ul.submenu a:visited
{
 color: #000000;
}
#topnav ul li ul.submenu a:hover
{
 
 color: #ffffff;
 background: #00BFFF; 
}
#topnav ul li ul.submenu a.active
{
 
 color: #ffffff;
 background: #00BFFF; 
}
#topnav ul li ul.submenu li:hover
{
 
 color: #ffffff;
 background: #00BFFF; 
}
#topnav ul li ul.submenu li.active
{
 
 color: #ffffff;
 background: #00BFFF; 
}
.inlineHomeMain { 
    display: inline-block;     
    margin:10px;
	float: left;
    }